<!doctype html>
<html ng-app="my-app" lang="en">
  <head>
    <title>Inform 7 thing creator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container-fluid">

      <h1>An Inform7 thing creator</h1>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#rooms" role="tab" data-toggle="tab">Rooms</a></li>
        <li><a href="#objects" role="tab" data-toggle="tab">Objects</a></li>
        <li><a href="#people" role="tab" data-toggle="tab">People</a></li>
        <li><a href="#actions" role="tab" data-toggle="tab">Actions</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <!-- Rooms -->

        <div class="tab-pane active" id="rooms">

          <br />

          <span ng-show="roomName">
            <p><kbd>The {{roomName | stripArticles | uppercase}} is a room.   "<span ng-show="roomDescription.length">{{roomDescription | clean | punctuate}}</span><span ng-hide="roomDescription.length"><span  ng-show="roomDirection">To the {{roomDirection | uppercase}} is the {{otherRoomName | stripArticles | uppercase }}.</span></span>"</kbd></p>
            <span ng-show="roomDirection">
              <span ng-hide="roomLocked"><span ng-show="otherRoomName.length"><p><kbd>The {{otherRoomName | stripArticles | uppercase }} is {{roomDirection | directions}} the {{roomName | stripArticles | uppercase }}.</kbd></p></span></span>

              <span ng-show="roomLocked">
              <p><kbd>The {{otherRoomName | stripArticles | uppercase }} is a room.</kbd></p>
              <p><kbd>There is a green key in the {{roomName | stripArticles | uppercase}}. The green key unlocks the painted green door. The description is "This must be the key for the painted green door."</kbd></p>
              <p><kbd>The painted green door is {{roomDirection | directions}} the {{roomName | stripArticles | uppercase}} and {{roomDirection | oppositeDirections}} the {{otherRoomName | stripArticles | uppercase}}. It is a door. It is lockable and locked. "A painted green door stands in the middle of an old brick wall."</kbd></p>
              <p><kbd>Instead of examining the locked painted green door, say "The door is nice, but it is locked. Don't you think you should look for a key?"</kbd></p>
              </span>

            </span>

            <br />
          </span>

            <hr />

            <span class="col-md-6">
            <form role="room">
            <div class="form-group">
              <label for="roomName">Name of the room:</label>
              <input class="form-control" type="text" ng-model="roomName" placeholder="Enter a room name here">
            </div>

            <div class="form-group">
              <label>Description:</label>
              <textarea class="form-control" rows="3" ng-model="roomDescription" placeholder="Enter a room description here"></textarea>
              <span class="help-block">Text that appears when a player enters a room, for example <em>"Your Great Auntie Vera's garden is a typical English garden with many sights, sounds, and smells. An old fountain is the centrepiece of this garden."</em></span>
            </div>

            <h3>Another room</h3>
            <div class="form-group">

              <label for="roomDirection">Direction:</label>
              <select class="form-control" ng-model="roomDirection">
                <option> </option>
                <option>North</option>
                <option>South</option>
                <option>East</option>
                <option>West</option>
                <option>Up</option>
                <option>Down</option>
                <option>Inside</option>
                <option>Outside</option>
              </select>
            </div>

              <span ng-show="roomDirection">
                <div class="form-group"<
                <label for="otherRoomDirection">Name of the other room:</label>
                <input class="form-control" type="text" ng-model="otherRoomName" placeholder="Enter a room name here">
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="roomLocked" value="false"> Is there a locked door?
                </label>
              </div>
              </span>
          </form>

          </span>

          <span class="col-md-6">
            <span ng-show="roomName">
              <div class="well">
              <h3>{{roomName | stripArticles | uppercase}}</h3>
              <p><span ng-show="roomDescription.length">{{roomDescription | clean | punctuate}}</span><span ng-hide="roomDescription.length"><span  ng-show="roomDirection">To the {{roomDirection | uppercase}} is the {{otherRoomName | stripArticles | uppercase }}.</span></span></p>

              <span ng-hide="roomDirection"><span ng-hide="otherRoomName.length"><p><strong>&gt;</strong></p></span></span>

              <span ng-show="roomDirection">
                <span ng-show="otherRoomName.length">
                  <span ng-show="roomLocked">
                    <p>A painted green door stands in the middle of an old brick wall.</p>

                    <p>You can also see a green key here</p>
                  <p><strong>&gt;unlock the door with the green key</strong><br />(first taking the green key)<br />
You unlock the painted green door.</p>
</span>

                  <p><strong>&gt;go {{roomDirection | lowercase}}</strong><span ng-show="roomLocked"><br />(first opening the painted green door)</span></p>

                <h3>{{otherRoomName | stripArticles | uppercase}}</h3>
                <span ng-show="roomLocked">
                  <p>A painted green door stands in the middle of an old brick wall.</p></span>

                <p><strong>&gt;</strong></p>

                </span>
                <span ng-hide="otherRoomName.length">
                  <p><strong>&gt;</strong></p>
                </span>
              </span>
              </div>
            </span>
          </span>
        </div> <!-- End of Rooms pane -->

        <!-- Objects -->

        <div class="tab-pane" id="objects">

          <br />

          <span ng-show="objectLocation.length">
            <p><kbd>The {{objectLocation | stripArticles | uppercase}} is a room.</kbd></p>
          </span>

          <span ng-show="objectName.length">
            <p>
            <kbd>{{objectName | uppercase}} is a thing<span ng-show="objectLocation"> in the {{objectLocation | stripArticles | uppercase }}</span>. <span ng-hide="objectLocation">The {{objectName | stripArticles}} is here.</span> <span ng-show="objectEdible == '1'">It is edible.</span> <span ng-show="objectContainer == '1'">It is <span ng-show="objectLocked">a locked</span><span ng-hide="objectLocked">an openable</span> container.</span> <span ng-show="objectRoomDescription">"{{objectRoomDescription | clean | punctuate}}"</span> <span ng-show="objectDescription.length">The description is "{{objectDescription | clean | punctuate}}"</span>
            </kbd>
            </p>

            <span ng-show="objectContainer">
              <p><kbd>A random thing is inside the {{objectName | stripArticles}}.</kbd></p>
            </span>

            <span ng-show="objectLocked">
              <p><kbd>The bronze key is carried by the player. It unlocks the {{objectName | stripArticles}}.</kbd></p>
            </span>

            <span ng-show="objectEdible">
              <p><kbd>After eating the {{objectName | stripArticles}}:<br />
                &nbsp;&nbsp;&nbsp; say "You wish you had another {{objectName | stripArticles}}."</kbd></p>
            </span>

            <br />
          </span>

          <hr />

          <span class="col-md-6">
            <form role="object">

            <div class="form-group">
              <label>Name:</label>
              <input class="form-control" type="text" ng-model="objectName" placeholder="Enter the name of the object">
              <span class="help-block">What is this object called, for example <em>"a cake"</em> or <em>"a priceless painting"</em>.</span>
            </div>

            <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="objectEdible" value="false"> Can the player eat it?
              </label>
            </div>

            <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="objectContainer" value="false"> Can it contain other things?
              </label>
              <span ng-show="objectContainer">
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="objectLocked" value="false"> Is a key needed to open it?
              </label>
              </span>
            </div>

            <div class="form-group">
              <label>Description:</label>
              <textarea class="form-control" rows="3" ng-model="objectDescription" placeholder="Enter the description here"></textarea>
              <span class="help-block">Text that appears when the player looks at the object, for example <em>"A priceless painting in a simple frame."</em></span>
            </div>

            <div class="form-group">
              <label>Room description:</label>
              <textarea class="form-control" rows="3" ng-model="objectRoomDescription" placeholder="Enter the object room description here"></textarea>
              <span class="help-block">Text that appears when the player enters the room, for example <em>"A painting domaniates the wall."</em></span>
            </div>

            <div class="form-group">
              <label for="objectLocation">Location:</label>
              <input class="form-control" type="text" ng-model="objectLocation" placeholder="Enter the location of the object">
            </div>
          </form>
        </span>

            <span class="col-md-6">

            <span ng-show="objectName">
              <div class="well">
              <h3><span ng-show="objectLocation">{{objectLocation | stripArticles | uppercase}}</span><span ng-hide="objectLocation">Default location</span></h3>
              <span ng-show="objectRoomDescription">
                <p>{{objectRoomDescription | punctuate}}</p>
              </span>
              <!-- <span ng-hide="objectRoomDescription">
                <p>An unknown location with an unknown description.</p>
              </span> -->
              <span ng-hide="objectRoomDescription">
                <p>You can see {{objectName}} <span ng-show="objectContainer">(<span ng-show="objectLocked">closed</span><span ng-hide="objectLocked">in which is a random thing</span>)</span> here.</p>
              </span>

              <p><strong>&gt;look at the {{objectName | stripArticles}}</strong><br />
                <span ng-hide="objectContainer"><span ng-hide="objectDescription">You see nothing special about the {{objectName | stripArticles}}.</span></span>
                <span ng-show="objectDescription">{{objectDescription | punctuate}}<br /><br /></span>
                <span ng-show="objectContainer">
                  <span ng-hide="objectLocked">In the {{objectName | stripArticles}} is a random thing.</span>
                  <span ng-show="objectLocked"><span ng-hide="objectDescription">You see nothing special about the {{objectName | stripArticles}}.</span></span>
                </span>
              </p>

              <span ng-show="objectContainer"><span ng-show="objectLocked">
              <p><strong>&gt;unlock the {{objectName | stripArticles}}</strong><br />
                  (with the bronze key)<br />
                  You unlock the {{objectName | stripArticles}}.
              </p>

              <p><strong>&gt;open the {{objectName | stripArticles}}</strong><br />
                You open the {{objectName | stripArticles}}, revealing a random thing.
              </p>
              </span></span>

              <span ng-show="objectEdible">
              <p><strong>&gt;eat the {{objectName | stripArticles}}</strong><br />
                (first taking the cake)<br />
                You wish you had another {{objectName | stripArticles }}.
              </p>
              </span>

              </div>
            </span>

          </span>

        </div> <!-- End of Objects pane -->

        <!-- People -->

        <div class="tab-pane" id="people">

          <br />

          <span ng-show="personLocation.length">
            <kbd>The {{personLocation | stripArticles | uppercase}} is a room.</kbd><br /><br />
          </span>
          <span ng-show="personName.length">
            <kbd>{{personName}} is a <span ng-show="personSex == 'male'">man</span><span ng-show="personSex == 'female'">woman</span><span ng-show="personLocation"> in the {{personLocation | stripArticles | uppercase }}</span>. <span ng-hide="personLocation">{{personName}} is here.</span> <span ng-show="personRoomDescription">"{{personRoomDescription | clean | punctuate}}"</span> <span ng-show="personDescription.length">The description is "{{personDescription | clean | punctuate}}"</span>
            </kbd>

            <br />
            <br />
          </span>

          <hr />

          <span class="col-md-6">

          <form role="person">

            <div class="form-group">
              <label>Name:</label>
              <input class="form-control" type="text" ng-model="personName" placeholder="Enter the name of the person">
            </div>

            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" ng-model="personSex" value="male"> Male
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="personSex" value="female"> Female
              </label>
            </div>

            <div class="form-group">
              <label>Description:</label>
              <textarea class="form-control" rows="3" ng-model="personDescription" placeholder="Enter the description here"></textarea>
              <span class="help-block">Text that appears when the player looks at a person, for example <em>"She is the sister of your grandmother and demands much respect from you."</em></span>
            </div>

            <div class="form-group">
              <label>Room description:</label>
              <textarea class="form-control" rows="3" ng-model="personRoomDescription" placeholder="Enter the room description here"></textarea>
              <span class="help-block">Text that appears when the player enters the room, for example <em>"Darcy is standing here with a stern look on his face."</em></span>
            </div>

            <div class="form-group">
              <label for="personLocation">Location:</label>
              <input class="form-control" type="text" ng-model="personLocation" placeholder="Enter the location of the person">
            </div>

          </form>
        </span>


          <span class="col-md-6">

            <span ng-show="personName">
              <div class="well">
              <h3><span ng-show="personLocation">{{personLocation | stripArticles | uppercase}}</span><span ng-hide="personLocation">Default location</span></h3>
              <span ng-show="personRoomDescription">
                <p>{{personRoomDescription | punctuate}}</p>
              </span>
              <!-- <span ng-hide="personRoomDescription">
                <p>An unknown location with an unknown description.</p>
              </span> -->
              <span ng-hide="personRoomDescription">
                <p>You can see {{personName}} here.</p>
              </span>

              <p><strong>&gt;look at <span ng-show="personSex == 'male'">him</span><span ng-show="personSex == 'female'">her</span></strong><br />
                <span ng-show="personDescription">{{personDescription | punctuate}}</span><span ng-hide="personDescription">You see nothing special about {{personName}}.</span></p>
              </div>
            </span>

          </span>

        </div> <!-- End of People pane -->

        <!-- Actions -->

        <div class="tab-pane" id="actions">

          <br />

        <div ng-controller="actionController">

          <span ng-show="actionCommand">
            <span ng-show="noTarget">
              <p><kbd>{{commanding | uppercase}} is an action applying to nothing. Understand "{{command}}" as {{commanding}}.</kbd></p>

              <p><kbd>Carry out {{commanding}}:<br />
              &nbsp;&nbsp;&nbsp; say "You {{command}}."</kbd></p>
            </span>

            <span ng-hide="noTarget">
                <p><kbd>{{commanding | uppercase}} is an action applying to one thing. Understand "{{command}} [{{target}}]" as {{commanding}}.</kbd></p>

                <p><kbd>Carry out {{commanding}}:</kbd></p>
                <p><kbd>&nbsp;&nbsp;&nbsp;say "You {{command}} [the noun] but nothing happens."</kbd></p>
            </span>

            <br />
            <br />

          </span>

          <hr />

          <span class="col-md-6">

          <form role="action">
            <div class="form-group">
              <label>Action command:</label>
              <input class="form-control" type="text" ng-model="actionCommand" ng-change="myCtrl()" placeholder="Enter an action command here"> <span class="help-block">What should the player type for this action, for example <em>"yawn at someone"</em> or <em>"steal something"</em>.</span>

            </div>
          </form>
        </span>

          <span class="col-md-6">
          <span ng-show="actionCommand">
              <div class="well">

              <h3>Default location</h3>
              <span ng-show="target">
                <span ng-if="target == 'someone'">
                  <p>Mr Darcy is here.</p>

                  <p><strong>&gt;{{command}} Mr Darcy</strong></p>
                  <p>You try to {{command}} Mr Darcy but not much happens.</p>
                </span>
                <span ng-if="target == 'something'">
                  <p>A chair is here.</p>

                  <p><strong&gt;{{command}} the chair</strong></p>
                  <p>You try to {{command}} the chair but not much happens.</p>
                </span>
              </span>

              <span ng-hide="target">
                <p><strong>&gt;{{command}}</strong></p>
                <p>You try to {{command}} but not much happens.</p>
              </span>

            </div>
            </span>
          </span>
        </div> <!-- End of ng-controller -->

      </div> <!-- End of Actions pane -->

    </div> <!-- End of tabs -->

<div class="col-md-12">
<hr />
<p>A simple Inform 7 generator for an IT course &middot; <a href="https://github.com/ssml-it/inform-creator">GitHub</a> &middot; <a href="http://twitter.com/kumo">@kumo</a></p>
</div>

</div> <!-- end of container -->


    <script type="text/javascript">
      var app = angular.module('my-app', []);

      app.filter("uppercase", function(){
        return function(input, scope) {
          return input.substring(0,1).toUpperCase()+input.substring(1);
        };
      });

      app.filter("lowercase", function(){
        return function(input, scope) {
          return input.substring(0,1).toLowerCase()+input.substring(1);
        };
      });

      app.filter("punctuate", function(){
        return function(input, scope){
          var punctuation =/.*[.?!]$/;
          if(!(punctuation.test(input))) {
            return input.concat(".");
          }
          return input;
        };
      });

      app.filter("clean", function(){
        return function(input, scope){
          return input.replace(/"/g, "\'");
        };
      });

      app.filter("stripArticles", function(){
        return function(input, scope){
          return input.replace(/^(the |a |an )/i, "");
        };
      });

      app.filter("directions", function(){
        return function(input, scope){
          switch(input) {
            case "North":
              return "north of";
            case "South":
              return "south of";
            case "East":
              return "east of";
            case "West":
              return "west of";
            case "Up":
              return "above";
            case "Down":
              return "down from";
            case "Inside":
              return "inside from";
            case "Outside":
              return "outside from";
            default:
              return "hmm";
          }
        };
      });

      app.filter("oppositeDirections", function(){
        return function(input, scope){
          switch(input) {
            case "North":
              return "south of";
            case "South":
              return "north of";
            case "East":
              return "west of";
            case "West":
              return "east of";
            case "Up":
              return "down from";
            case "Down":
              return "up from";
            case "Inside":
              return "outside from";
            case "Outside":
              return "inside from";
            default:
              return "hmm";
          }
        };
      });

      app.controller('actionController', ['$scope', function($scope) {
        $scope.noTarget = true;

        $scope.myCtrl = function () {
          var input = $scope.actionCommand.split(" ");

          $scope.commanding = input[0] + "ing";
          $scope.command = input[0];

          var command = /(something|someone)/;
          if (command.test($scope.actionCommand)) {
            var position = input.indexOf("something");

            if (position > 0) {
              $scope.target = "something";

              if (1 < position) {
                $scope.commanding = $scope.commanding + " " + input.slice(1, position).join(" ");
                $scope.command = $scope.command + " " + input.slice(1, position).join(" ");
              }
            } else {
              position = input.indexOf("someone");

              if (position > 0) {
                $scope.target = "someone";

                if (1 < position) {
                  $scope.commanding = $scope.commanding + " " + input.slice(1, position).join(" ");
                  $scope.command = $scope.command + " " + input.slice(1, position).join(" ");
                }
              }
            }

            $scope.noTarget = false;
          } else {
            $scope.commanding = $scope.commanding + " " + input.slice(1).join(" ");
            $scope.command = $scope.command + " " + input.slice(1).join(" ");

            $scope.commanding = $scope.commanding.trim();
            $scope.command = $scope.command.trim();

            $scope.noTarget = true;
          }
        };
      }]);

    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
