<!doctype html>
<html ng-app="my-app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">

      <form role="room">
      <div class="form-group">
      <h2>A room</h2>

      <div class="form-group">
        <label for="roomName">Name:</label>
        <input class="form-control" type="text" ng-model="roomName" placeholder="Enter a room name here">
      </div>
      <div class="form-group">
        <label>Description:</label>
        <input class="form-control" type="text" ng-model="roomDescription" placeholder="Enter a room description here">
      </div>

      <hr>

      <span ng-show="roomName">
        <pre>{{roomName}} is a room. <span ng-show="roomDescription.length">"{{roomDescription}}"</span>
        </pre>
      </span>

      <span ng-show="roomName">
      <h3>{{roomName}}</h3>
      <span ng-show="roomDescription">
        <p>{{roomDescription}}</p>
      </span>
      <p>> </p>
      </span>

    </form>
  </div>

      <form role="person">
        <div class="form-group">
      <h2>A person</h2>

      <div class="form-group">
      <label>Name:</label>
      <input class="form-control" type="text" ng-model="personName" placeholder="Enter the name of the person">
    </div>

<div class="form-group">
      <label class="checkbox-inline">
      <input type="radio" ng-model="personSex" value="male"> Male
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="personSex" value="female"> Female
    </label>
  </div>

<div class="form-group">
      <label>Description:</label>
      <input class="form-control" type="text" ng-model="personDescription" placeholder="Enter the description here">
    </div>

      <div class="form-group">
<label>Room description:</label>
      <input class="form-control" type="text" ng-model="personRoomDescription" placeholder="Enter the room description here">
    </div>

<div class="form-group">
      <label for="personLocation">Location:</label>
      <input class="form-control" type="text" ng-model="personLocation" placeholder="Enter the location of the person">
    </div>

      <hr>

      <span ng-show="personName.length">
      <pre>{{personName}} is a <span ng-show="personSex == 'male'">man</span><span ng-show="personSex == 'female'">woman</span><span ng-show="personLocation"> in {{personLocation}}</span>. <span ng-show="personRoomDescription">"{{personRoomDescription}}".</span> <span ng-show="personDescription.length">The description is "{{personDescription}}".</span>
      </pre>
      </span>

      <span ng-show="personName">
      <h3><span ng-show="personLocation">{{personLocation}}</span><span ng-hide="personLocation">Unknown location</span></h3>
      <span ng-show="personRoomDescription">
        <p>{{personRoomDescription}}</p>
      </span>
      <span ng-hide="personRoomDescription">
        <p>You can see {{personName}} here.</p>
      </span>

      <p>> look at {{personName}}<br />
      <span ng-show="personDescription">{{personDescription}}</span><span ng-hide="personDescription">You see nothing special about {{personName}}.</span></p>
      </span>

    </form>
  </div>

      <form role="action">
        <div class="form-group">

      <h2>An action</h2>

      <div class="form-group">
        <label>Action name:</label>
      <input class="form-control" type="text" ng-model="actionName" placeholder="Enter an action name here">
    </div>
      <div class="form-group">
<label>Command:</label>
      <input class="form-control" type="text" ng-model="actionCommand" placeholder="Enter an internal command name">
    </div>

      <hr>

      <span ng-show="actionName">
        <pre>{{actionCommand | capitalize}} is an action applying to nothing. Understand "{{actionName}}" as {{actionCommand}}.

Instead of {{actionCommand}}, say "You {{actionName}}."
        </pre>

      <h3>Unknown location</h3>

      <p>> {{actionName}}</p>
      <p>You {{actionName}}.</p>

      </span>

</form>
</div>

    </div>


    <script type="text/javascript">
    // add the filter to your application module
    angular.module('my-app', ['filters']);

    angular.module('filters', []).
      filter('capitalize', function() {
        return function(input, scope) {
          return input.substring(0,1).toUpperCase()+input.substring(1);
        }
      });

    </script>
  </body>
</html>
